@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Inter;
    text-align: center;
    font-weight: lighter;
    background:linear-gradient(to left, rgb(255, 0, 242), rgb(103, 3, 112))
}

.div1 {
    font-size: 95px;
    font-weight:bolder;
    padding-top:80px;
    padding-right:80px;
    padding-left:80px;
    padding-bottom:80px;
    border-radius: 25px;
    background: linear-gradient(to right, #e7b7e9, #9e06f7);
    -webkit-text-fill-color: transparent;
    background-clip: text;

}



.div1:hover {
    transition-duration:0.6s;
    font-size: 205px;
    font-style: italic;
    background: linear-gradient(to right, #9e06f7, #e7b7e9);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


p1 {
    font-weight:bolder;
    background: linear-gradient(to right, #9e06f7, #e7b7e9);
    -webkit-text-fill-color: transparent;
    background-clip:text;
}

p1:hover {
    transition-duration: 0.9s;
    font-weight:800;
    font-size:100px;
}